<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="All Test Suite">
    <test verbose="2" preserve-order="true" name="C:/Users/bouch/testNGBasicsBatch15/src/test/java/Class4/annotations02.java">
        <classes>
            <class name="Class4.annotations02"></class>
            <class name="Class4.annotationsBeforeClass"></class>
        </classes>

    </test >
    <test name="abc">
        <packages>
            <package name="class04"></package>
        </packages>
    </test>
</suite>